<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="/index.html">Dashboard</a></li>
      <li><a href="/pages/create-work-order.html">Work Orders</a></li>
      <li><a href="/pages/assets.html">Assets</a></li>
      <li><a href="/pages/pm-library.html">PM Library</a></li>
      <li><a href="/pages/locations.html">Locations</a></li>
      <li><a href="/pages/users.html">Users</a></li>
      <li><a href="/pages/matrix-assignments.html">Assignment Matrix</a></li>
      <li><a href="/pages/security-groups.html">Security Groups</a></li>
    </ul>
  </nav>
</aside>
